.form {
  height: 2vw;
  margin: 3vw 0 0.5vw 0;
  border-top: 0.1vw solid grey;
}

.form__input {
  padding: 0;
  border-style: none;
  border-width: 0;
  background-color: transparent;
  font-size: 1.25vw;
  color: grey;
}

.form__submit {
  width: 5.9vw;
  padding: 1vw;
  margin: 0.25vw;
  border-style: none;
  border: 0.1vw outset grey;
  background-color: transparent;
  font-size: 1.25vw;
  color: grey;
}
