.App {
  min-height: 100vh;
  color: rgba(0, 50, 50, .5)
}

input {
  padding: 0;
  background-color: transparent;
  border-style: none;
}

input:focus {
  outline: none;
}

a {
  color: rgba(0, 75, 75, .75);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 50, 50, .5);
}

