.habits {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: auto;
  align-items: flex-end;
}

.habits__new-form {
  margin: 1vw;
}

.habits__list {
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: center; */
  flex-wrap: wrap;
}