.habits {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-end;
}

.habits__logout {
  text-align: right;
  margin: 2vw;
}

.habits__logout a {
  font-size: 1rem;
}

.habits__list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  width: 70vw;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .habits__list {
    width: 95vw;
  }
}